﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Ajax.BeginForm("LogOff", "Account", new { id = "logoutForm", @class = "navbar-right" }, new AjaxOptions { UpdateTargetId = "placeHolder", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
    {
    @Html.AntiForgeryToken()
        <li class="dropdown">
            <a class="dropdown-toggle" href="javascript:document.getElementById('logoutForm').submit()" data-toggle="dropdown">
                <i class="pe-7s-speaker"></i>
            </a>
        </li>
    }
}
 
