﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
@using SunshareQAQC.Extensions;
@using SunshareQAQC.Models
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sunhub | Home</title>
    <!-- Vendor styles -->
    @Styles.Render("~/Scripts/bundle/css")
</head>

<body class="nav-md">
    <div class="color-line">
    </div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col mCustomScrollbar _mCS_1 mCS-autoHide">
                <div class="left_col scroll-view">
                    <center>
                        <div class="navbar nav_title">
                            <a href="@Url.Action("Dashboard", "Home", new {@Id = User.Identity.GetUserId()})" class="site_title">
                                <i><img style="vertical-align: top;" src="@Url.Content("~/Scripts/build/images/inner-logo_sm.png")" alt="logo" /></i>
                                <span><img style="margin-top:10px;margin-right: 30px;" src="@Url.Content("~/Scripts/build/images/inner-logo.png")" alt="logo" /></span>
                            </a>

                        </div>
                    </center>

                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Admin</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <div class="clearfix"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3></h3>
                            <ul class="nav side-menu">
                                
                                <li><a href='@Url.Action("Dashboard", "Home")'><i class="fa fa-tachometer"></i>Dashboard</a></li>
                                <li><a href='@Url.Action("SignedContracts", "Home")'><i class="fa fa-edit"></i>Contracts Signed</a></li>
                                <li><a href='@Url.Action("CreditApprovalCustomers", "Home")'><i class="fa fa-thumbs-o-up"></i>Credit Approved</a></li>
                                <li><a href='@Url.Action("CreditDeclinedCustomers", "Home")'><i class="fa fa-thumbs-o-down"></i>Credit Declined</a></li>
                                <li><a href='@Url.Action("RequestUtilityUsage", "Home")'><i class="fa fa-envelope-o"></i>Usage Request</a></li>
                                <li><a href='@Url.Action("ReceivedUtilityUsage", "Home")'><i class="fa fa-wpforms"></i>Usage Received</a></li>
                                <li><a href='@Url.Action("GardenAllocatedCustomer", "Home")'><i class="fa fa-columns"></i>Garden Assigned</a></li>
                                <li><a href='@Url.Action("ProductionReadyCustomer", "Home")'><i class="fa fa-users"></i>Customer Onboard</a></li>
                                    
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>
            <!-- top navigation -->
            
            <div class="top_nav">
                @*<div class="title_left">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-left top_search">
                        <div class="input-group" style="margin-top: 3px;margin-bottom: -6px;margin-left: 3px;height: 34px;">
                            
                        </div>
                    </div>
                </div>*@
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                      
                        <ul class="nav navbar-nav navbar-right">
                            
                            <li class="">
                                <a href='@Url.Action("LogOff", "Account")'><span style="font-size:22px" class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
                            </li>
                            <li class="">
                                <a>
                                    <span style="font-size:22px" class="glyphicon glyphicon-lock"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href=''>Log Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" title="Ask Question" aria-expanded="false">
                                    <span style="font-size:22px" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                </a>
                                <ul class="dropdown-menu hdropdown animated flipInX">
                                    <li>
                                        <a>
                                            Frequently asked questions?
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            User Questions
                                        </a>
                                        </li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" title="User Guide" aria-expanded="false">
                                    <span style="font-size:22px" class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                </a>
                                <ul class="dropdown-menu hdropdown animated flipInX">
                                    <li>
                                        <a>
                                            Sales Rep Materials
                                        </a>
                                        <ul class="sub-menu">
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/Common%20Objections%20and%20FAQs.pdf"><li>Common Objections and FAQs</li></a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/Inbound%20Sales%20Script.pdf"><li>Inbound Sales Script</li></a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/Key%20Legal%20Disclosures%20and%20Best%20Messaging.pdf"><li>Key Legal Disclosures and Best Messaging</li></a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/Sales%20Training%20Manual%20Deck%20-%20D2D%20(2).pdf"><li>Sales Training Manual Deck - D2D</li></a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/Standard%20Service%20Agreement%20with%20Explanations.pdf"><li>Standard Service Agreement with Explanations</li></a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/Transfering-Exiting%20SunShare%20Program.pdf"><li>Transfering-Exiting SunShare Program</li></a>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>
                                            Marketing Rep Materials
                                        </a>
                                        <ul class="sub-menu">
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/SUN_Q1_Campaign_DM2_4.125x9.5_OE_V200.pdf">
                                                <li>
                                                    SUN_Q1_Campaign_DM2_4.125x9.5_OE_V200
                                                </li>
                                            </a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/SUN_Q1_Campaign_DM2_8.5x11_LTR_V50_0301pdf.pdf">
                                                <li>
                                                    SUN_Q1_Campaign_DM2_8.5x11_LTR_V50_0301pdf
                                                </li>
                                            </a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/SUN_Q2_Campaign_DoorHanger_4.25x11_Comp%20(4.27.16).pdf">
                                                <li>
                                                    SUN_Q2_Campaign_DoorHanger_4.25x11_Comp (4.27.16)
                                                </li>
                                            </a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/SUN_Q2_Campaign_DoorHanger_4.25x11_Comp%20(4.27.16)-1.pdf">
                                                <li>
                                                    SUN_Q2_Campaign_DoorHanger_4.25x11_Comp (4.27.16)-1
                                                </li>
                                            </a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/SS_EM_Email_200.jpg">
                                                <li>
                                                    SS_EM_Email_200
                                                </li>
                                            </a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/SS_EM_Email_500.jpg">
                                                <li>
                                                    SS_EM_Email_500
                                                </li>
                                            </a>
                                            <a target="_blank" href="http://apps.mysunshare.com/d2d-training/Training_Materials/SS_EM_RESERVE.jpg">
                                                <li>
                                                    SS_EM_RESERVE
                                                </li>
                                            </a>
                                        </ul>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" title="Knowledge Centre" aria-expanded="false">
                                    <span style="font-size:22px" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                </a>
                                <ul class="dropdown-menu hdropdown animated flipInX">
                                    <li>
                                        <a>
                                            Brain Share
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                           Product Datasheets
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            Patents
                                        </a>
                                    </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="clearfix"></div>
                <div class="hpanel">
                    <div class="icon_div panel-body text-center">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="icon-box1 text-center animated-panel zoomIn">
                                    <a class="filtermenu" id="assigned" href='@Url.Action("Dashboard", "Home")'> <img src="~/Scripts/build/images/icon-1.png" alt="Icon-1"> </a>
                                    <h5><span>Dashboard</span></h5>
                                    <h3 class="count">58</h3>
                                </div>
                                <div class="icon-box1 text-center animated-panel zoomIn">
                                    <a class="filtermenu" id="assigned" href='@Url.Action("SignedContracts", "Home")'> <img src="~/Scripts/build/images/icon-2.png" alt="Icon-1"> </a>
                                    <h5><span>Contracts Signed</span></h5>
                                    <h3 class="count">58</h3>
                                </div>
                                <div class="icon-box2 text-center animated-panel zoomIn">
                                    <a class="filtermenu" id="saved" href='@Url.Action("CreditApprovalCustomers", "Home")'> <img src="~/Scripts/build/images/icon-4.png" alt="Icon-2"> </a>
                                    <h5><span>Credit Approved</span></h5>
                                    <h3 class="count">23</h3>
                                </div>
                                <div class="icon-box3 text-center animated-panel zoomIn">
                                    <a class="filtermenu" id="info" href='@Url.Action("CreditDeclinedCustomers", "Home")'><img src="~/Scripts/build/images/icon-6.png" alt="Icon-3"></a>
                                    <h5><span>Credit Declined</span></h5>
                                    <h3 class="count">24</h3>
                                </div>
                                <div class="icon-box4 text-center animated-panel zoomIn">
                                    <a class="filtermenu" id="sent" href='@Url.Action("RequestUtilityUsage", "Home")'><img src="~/Scripts/build/images/icon-3.png" alt="Icon-4"></a>
                                    <h5><span>Usage Request</span></h5>
                                    <h3 class="count">25</h3>
                                </div>
                                <div class="icon-box5 text-center animated-panel zoomIn">
                                    <a class="filtermenu" id="signed" href='@Url.Action("ReceivedUtilityUsage", "Home")'><img src="~/Scripts/build/images/icon-11.png" alt="Icon-5"></a>
                                    <h5><span>Usage Received</span></h5>
                                    <h3 class="count">26</h3>
                                </div>
                                <div class="icon-box10 text-center animated-panel zoomIn">
                                    <a class="filtermenu" href='@Url.Action("GardenAllocatedCustomer", "Home")' id="morethriceCalled"> <img alt="Icon-15" src="~/Scripts/build/images/icon-14.png"> </a>
                                    <h5><span>Garden Assigned</span></h5>
                                    <h3 class="count">15</h3>
                                </div>
                                <div class="icon-box21 text-center animated-panel zoomIn">
                                    <a id="Loadall" class="filtermenu" href='@Url.Action("ProductionReadyCustomer", "Home")'><img src="~/Scripts/build/images/icon-5.png" alt="Icon-17"></a>
                                    <h5><span>Customer Onboard</span></h5>
                                    <h3 class="count">15</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="center">
                    © 2016 Copyright SunShare
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- Vendor scripts -->
    @Scripts.Render("~/bundles/custom")
    @RenderSection("MyScripts", required: false)
</body>
</html>
