﻿@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_masterAnonymousView.cshtml";
}


@Html.ValidationSummary("", new { @class = "text-danger" })
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}