﻿@{
    ViewBag.Title = "Credit Declined";
}
@Html.AntiForgeryToken()



<div class="">
    <div class="title_left animated-panel zoomIn">
        <h3>Credit Declined</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel animated-panel zoomIn" style="overflow-x:auto">
                <div class="x_content">
                    <table id="CreditDeclined" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.CheckBox("selectAll", new { @Id = "selectAll" })
                                </th>
                                <th>
                                    @Html.DisplayName("First Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Last Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Email")
                                </th>
                                <th>
                                    @Html.DisplayName("Phone")
                                </th>
                                <th>
                                    @Html.DisplayName("State")
                                </th>
                                <th>
                                    @Html.DisplayName("County")
                                </th>
                                <th>
                                    @Html.DisplayName("Created Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Updated Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Credit Score")
                                </th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Jeffrey
                                </td>
                                <td>
                                    Cummins
                                </td>
                                <td>
                                    jeff.decoster@mts.com
                                </td>
                                <td>
                                    6514298472
                                </td>
                                <td>
                                    Minnesota
                                </td>
                                <td>
                                    Chisago
                                </td>
                                <td>
                                    05-17-2016 08:49 AM
                                </td>
                                <td>
                                    05-27-2016 10:50 AM
                                </td>
                                <td>
                                    670
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Kay
                                </td>
                                <td>
                                    Chevrier
                                </td>
                                <td>
                                    subashandrew@gmail.com
                                </td>
                                <td>
                                    6517774801
                                </td>
                                <td>
                                    Colorado
                                </td>
                                <td>
                                    Custer
                                </td>
                                <td>
                                    05-17-2016 09:05 AM
                                </td>
                                <td>
                                    05-27-2016 10:10 PM
                                </td>
                                <td>
                                    682
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Julie
                                </td>
                                <td>
                                    Jacobs
                                </td>
                                <td>
                                    julray@charter.net
                                </td>
                                <td>
                                    5073811120
                                </td>
                                <td>
                                    Colorado
                                </td>
                                <td>
                                    Chaffee
                                </td>
                                <td>
                                    05-12-2016 02:49 PM
                                </td>
                                <td>
                                    05-19-2016 11:40 PM
                                </td>
                                <td>
                                    650
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    allieu
                                </td>
                                <td>
                                    golafale
                                </td>
                                <td>
                                    rajprakash751@gmail.com
                                </td>
                                <td>
                                    6127035158
                                </td>
                                <td>
                                    Minnesota
                                </td>
                                <td>
                                    Douglas
                                </td>
                                <td>
                                    05-16-2016 04:49 PM
                                </td>
                                <td>
                                    05-07-2016 09:49 PM
                                </td>
                                <td>
                                    655
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Rae
                                </td>
                                <td>
                                    Harmel
                                </td>
                                <td>
                                    rharmel@centurylink.net
                                </td>
                                <td>
                                    6123273738
                                </td>
                                <td>
                                    Colorado
                                </td>
                                <td>
                                    Crowley
                                </td>
                                <td>
                                    05-12-2016 02:25 PM
                                </td>
                                <td>
                                    05-27-2016 09:09 PM
                                </td>
                                <td>
                                    653
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Sheila
                                </td>
                                <td>
                                    Loving
                                </td>
                                <td>
                                    lovingsheila@yahoo.com
                                </td>
                                <td>
                                    6122316945
                                </td>
                                <td>
                                    Minnesota
                                </td>
                                <td>
                                    Cook
                                </td>
                                <td>
                                    05-16-2016 11:24 AM
                                </td>
                                <td>
                                    05-26-2016 01:02 AM
                                </td>
                                <td>
                                    677
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Shawn
                                </td>
                                <td>
                                    Jones
                                </td>
                                <td>
                                    brian@jonesdesignbuild.com
                                </td>
                                <td>
                                    9524706911
                                </td>
                                <td>
                                    Colorado
                                </td>
                                <td>
                                    Conejos
                                </td>
                                <td>
                                    05-14-2016 01:27 PM
                                </td>
                                <td>
                                    05-22-2016 07:29 PM
                                </td>
                                <td>
                                    689
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    William
                                </td>
                                <td>
                                    Gilliland
                                </td>
                                <td>
                                    billcarriegill@q.com
                                </td>
                                <td>
                                    9528200557
                                </td>
                                <td>
                                    Minnesota
                                </td>
                                <td>
                                    Aitkin
                                </td>
                                <td>
                                    05-14-2016 11:48 AM
                                </td>
                                <td>
                                    06-20-2016 02:48 AM
                                </td>

                                <td>
                                    684
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Susan
                                </td>
                                <td>
                                    Keenan
                                </td>
                                <td>
                                    sgkeenan@gmail.com
                                </td>
                                <td>
                                    9524513009
                                </td>
                                <td>
                                    Colorado
                                </td>
                                <td>
                                    Eagle
                                </td>
                                <td>
                                    05-12-2016 03:27 PM
                                </td>
                                <td>
                                    05-16-2016 05:20 PM
                                </td>

                                <td>
                                    683
                                </td>
                                
                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Julie
                                </td>
                                <td>
                                    Jacobs
                                </td>
                                <td>
                                    julray@charter.net
                                </td>
                                <td>
                                    5073811120
                                </td>
                                <td>
                                    Minnesota
                                </td>
                                <td>
                                    Brown
                                </td>
                                <td>
                                    05-12-2016 02:49 PM
                                </td>
                                <td>
                                    05-22-2016 09:49 PM
                                </td>

                                <td>
                                    688
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Rae
                                </td>
                                <td>
                                    Harmel
                                </td>
                                <td>
                                    rharmel@centurylink.net
                                </td>
                                <td>
                                    6123273738
                                </td>
                                <td>
                                    Colorado
                                </td>
                                <td>
                                    Delta
                                </td>
                                <td>
                                    05-12-2016 02:25 PM
                                </td>
                                <td>
                                    05-19-2016 09:10 PM
                                </td>

                                <td>
                                    690
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Swathi
                                </td>
                                <td>
                                    Anne
                                </td>
                                <td>
                                    info@infinitelinked.com
                                </td>
                                <td>
                                    8322796579
                                </td>
                                <td>
                                    Minnesota
                                </td>
                                <td>
                                    Anoka
                                </td>
                                <td>
                                    06-20-2016 03:11 AM
                                </td>
                                <td>
                                    06-29-2016 11:05 AM
                                </td>
                                <td>
                                    692
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Jon
                                </td>
                                <td>
                                    Swanson
                                </td>
                                <td>
                                    selvanth003@gmail.com
                                </td>
                                <td>
                                    6517709571
                                </td>
                                <td>
                                    Colorado
                                </td>
                                <td>
                                    Cheyenne
                                </td>
                                <td>
                                    05-17-2016 11:39 AM
                                </td>
                                <td>
                                    05-27-2016 11:04 PM
                                </td>
                                <td>
                                    695
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Peggy
                                </td>
                                <td>
                                    Kerr
                                </td>
                                <td>
                                    peggyjkerr@yahoo.com
                                </td>
                                <td>
                                    5076355725
                                </td>
                                <td>
                                    Minnesota
                                </td>
                                <td>
                                    Carver
                                </td>
                                <td>
                                    05-19-2016 12:40 PM
                                </td>
                                <td>
                                    05-23-2016 10:01 PM
                                </td>
                                <td>
                                    699
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Dan
                                </td>
                                <td>
                                    Beatty
                                </td>
                                <td>
                                    vivek.sambandam@gmail.com
                                </td>
                                <td>
                                    6517332975
                                </td>
                                <td>
                                    Colorado
                                </td>
                                <td>
                                    Boulder
                                </td>
                                <td>
                                    05-16-2016 01:43 PM
                                </td>
                                <td>
                                    05-19-2016 10:49 AM
                                </td>
                                <td>
                                    693
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





@section MyScripts {
    <script type="text/javascript">
                $(document).ready(function () {
                    //if ($('#signedcontract').length) {
                    //    $('#signedcontract').DataTable();
                    //}
                    var table = $('#CreditDeclined').dataTable();
                    var allPages = table.fnGetNodes();
                    $('body').on('click', '#selectAll', function () {
                        if ($(this).hasClass('allChecked')) {
                            $('input[type="checkbox"]', allPages).prop('checked', false);
                        } else {
                            $('input[type="checkbox"]', allPages).prop('checked', true);
                        }
                        $(this).toggleClass('allChecked');
                    });
                });
</script>
}
