﻿@{
    ViewBag.Title = "Dashboard";
}
@Html.AntiForgeryToken()

<!DOCTYPE html>

<!-- Main -->
<link href="~/Scripts/build/css/main.css" rel="stylesheet">
<!-- Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<div class="">
    <div class="clearfix"></div>
    <div class="title_left animated-panel zoomIn">
        <h3>Dashboard</h3>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="main-container">
        <div class="tranformer"><img src="~/Scripts/build/images/transformer.png"></div>
        <div class="customer-box">
            <a href='@Url.Action("SignedContracts", "Home")'><img src="~/Scripts/build/images/customer-bg.png"></a><span class="arrow1"><img src="~/Scripts/build/images/arrow1.png"></span>
        </div>
        <div class="creditcheck-box">
            <a href="#"><img src="~/Scripts/build/images/creditcheck-bg.png"></a>
        </div>
        <div class="arrow-box2">
            <img src="~/Scripts/build/images/arrow2.png">
        </div>
        <div class="creditapproved-box">
            <a href='@Url.Action("CreditApprovalCustomers", "Home")'><img src="~/Scripts/build/images/creditapproved-bg.png"></a>
        </div>
        <div class="creditdeclined-box">
            <a href='@Url.Action("CreditDeclinedCustomers", "Home")'><img src="~/Scripts/build/images/creditdeclined-bg.png"></a>
        </div>
        <div class="utilityusage-box">
            <a href='@Url.Action("RequestUtilityUsage", "Home")'><img src="~/Scripts/build/images/utilityusage-bg.png"></a><span class="arrow3"><img src="~/Scripts/build/images/arrow3.png"></span>
        </div>
        <div class="utilityrecieved-box">
            <a href='@Url.Action("ReceivedUtilityUsage", "Home")'><img src="~/Scripts/build/images/utilityrecieved-bg.png"></a><span class="arrow5"><img src="~/Scripts/build/images/arrow1.png"></span><span class="arrow4"><img src="~/Scripts/build/images/arrow4.png"></span>
        </div>
        <div class="gardenallocation-box">
            <a href='@Url.Action("GardenAllocatedCustomer", "Home")'><img src="~/Scripts/build/images/gardenallocation-bg.png"></a><span class="arrow6"><img src="~/Scripts/build/images/arrow1.png"></span>
        </div>
        <div class="updatecontract-box">
            <a href="#"><img src="~/Scripts/build/images/updatecontract-bg.png"></a><span class="arrow7"><img src="~/Scripts/build/images/arrow1.png"></span>
        </div>
        <div class="allocationdata-box">
            <a href="#"><img src="~/Scripts/build/images/allocationdata-bg.png"></a><span class="arrow9"><img src="~/Scripts/build/images/arrow3.png">
        </div>
        <div class="productready-box">
            <a href='@Url.Action("ProductionReadyCustomer", "Home")'><img src="~/Scripts/build/images/productready-bg.png"></a>
        </div>
    </div>
