﻿@{
    ViewBag.Title = "Customer Onboard";
}
@Html.AntiForgeryToken()



<div class="">
    <div class="title_left animated-panel zoomIn">
        <h3>Customer Onboard</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel animated-panel zoomIn" style="overflow-x:auto">
                <div class="x_content">
                    <table id="customeronboard" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" id="selectAll" value="checked">
                                </td>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    County
                                </th>
                                <th>
                                    Usage Details
                                </th>
                                <th>
                                    Garden Name
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    raj
                                </td>
                                <td>
                                    kamal
                                </td>
                                <td>
                                    rajblack@gmail.com
                                </td>
                                <td>
                                    8870898191
                                </td>
                                <td>
                                    Eagle
                                </td>
                                <td>
                                    Colorada
                                </td>
                                <td>
                                    7Kwh
                                </td>
                                <td>
                                    Bongards Garden 01

                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    arun
                                </td>
                                <td>
                                    chella
                                </td>
                                <td>
                                    chella@yahoo.com
                                </td>
                                <td>
                                    8870898676
                                </td>
                                <td>
                                    Baca
                                </td>
                                <td>
                                    Minnesota
                                </td>
                                <td>
                                    8Kwh
                                </td>
                                <td>
                                    Bongards Garden 02

                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Erin
                                </td>
                                <td>
                                    Johnson
                                </td>
                                <td>
                                    ejrichjo@gmail.com
                                </td>
                                <td>
                                    6122317597
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Beltrami
                                </td>
                                <td>
                                    8.5kwh
                                </td>
                                <td>
                                    Bongards Garden 01

                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Peggy
                                </td>
                                <td>
                                    Kerr
                                </td>
                                <td>
                                    peggyjkerr@yahoo.com
                                </td>
                                <td>
                                    5076355725
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Chippewa
                                </td>
                                <td>
                                    9kwh
                                </td>
                                <td>
                                    Glazier Garden 02
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>

                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Monica
                                </td>
                                <td>
                                    Murray
                                </td>
                                <td>
                                    murray@csp.edu
                                </td>
                                <td>
                                    7637848997
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Douglas
                                </td>
                                <td>
                                    8.5kwh
                                </td>
                                <td>
                                    Bongards Garden 02

                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>

                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Adam
                                </td>
                                <td>
                                    Novotny
                                </td>
                                <td>
                                    anovotny01@gmail.com
                                </td>
                                <td>
                                    6514686741
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Douglas
                                </td>
                                <td>
                                    7kwh
                                </td>
                                <td>
                                    Bongards Garden 01

                                </td>

                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Jon
                                </td>
                                <td>
                                    Swanson
                                </td>
                                <td>
                                    selvanth003@gmail.com
                                </td>
                                <td>
                                    6517709571
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Pueblo
                                </td>
                                <td>
                                    5kwh
                                </td>
                                <td>
                                    Glazier Garden 03
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>

                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Kay
                                </td>
                                <td>
                                    Chevrier
                                </td>
                                <td>
                                    subashandrew@gmail.com
                                </td>
                                <td>
                                    6517774801
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Dodge
                                </td>
                                <td>
                                    6kwh
                                </td>
                                <td>
                                    Glazier Garden 01
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Jeffrey
                                </td>
                                <td>
                                    DeCoster
                                </td>
                                <td>
                                    jeff.decoster@mts.com
                                </td>
                                <td>
                                    6514298472
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Carlton
                                </td>

                                <td>
                                    8.5kwh
                                </td>
                                <td>
                                    Glazier Garden 02
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    darci
                                </td>
                                <td>
                                    holm
                                </td>
                                <td>
                                    kanddholm@gmail.com
                                </td>
                                <td>
                                    6127292458
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Fillmore
                                </td>

                                <td>
                                    8kwh
                                </td>
                                <td>
                                    Bongards Garden 01

                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Robert
                                </td>
                                <td>
                                    Hubbard
                                </td>
                                <td>
                                    sosan.flynn@yahoo.com
                                </td>
                                <td>
                                    6516411091
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Kiowa
                                </td>

                                <td>
                                    7.5kwh
                                </td>
                                <td>
                                    Bongards Garden 03

                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    ajith
                                </td>
                                <td>
                                    vijay
                                </td>
                                <td>
                                    ajithvijay@yahoo.com
                                </td>
                                <td>
                                    8870898676
                                </td>
                                <td>
                                    Baca
                                </td>
                                <td>
                                    Minnesota
                                </td>


                                <td>
                                    7kwh
                                </td>
                                <td>
                                    Glazier Garden 01
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    hendry
                                </td>
                                <td>
                                    lee
                                </td>
                                <td>
                                    hendery004@gmail.com
                                </td>
                                <td>
                                    9944787652
                                </td>
                                <td>
                                    BEnt
                                </td>
                                <td>
                                    Colorada
                                </td>

                                <td>
                                    7.5kwh
                                </td>
                                <td>
                                    Glazier Garden 03
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>


                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    ashok
                                </td>
                                <td>
                                    kumar
                                </td>
                                <td>
                                    ashok@outlook.com
                                </td>
                                <td>
                                    9944408989
                                </td>
                                <td>
                                    Baca
                                </td>
                                <td>
                                    Minnesota
                                </td>



                                <td>
                                    8kwh
                                </td>
                                <td>
                                    Bongards Garden 02
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    selvanth
                                </td>
                                <td>
                                    singh
                                </td>
                                <td>
                                    selvanth007@gmail.com
                                </td>
                                <td>
                                    7634202317
                                </td>
                                <td>
                                    Adams
                                </td>
                                <td>
                                    Minnesota
                                </td>

                                <td>
                                    4.5kwh
                                </td>
                                <td>
                                    Glazier Garden 02
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    saravana
                                </td>
                                <td>
                                    kumar
                                </td>
                                <td>
                                    sarn23@yahoo.com
                                </td>
                                <td>
                                    8870565433
                                </td>
                                <td>
                                    Eagle
                                </td>
                                <td>
                                    Minnesota
                                </td>


                                <td>
                                    9kwh
                                </td>
                                <td>
                                    Bongards Garden 03
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    prakesh
                                </td>
                                <td>
                                    raj
                                </td>
                                <td>
                                    prakesh1994@yahoo.com
                                </td>
                                <td>
                                    5467890912
                                </td>
                                <td>
                                    Custer
                                </td>
                                <td>
                                    Colorada
                                </td>



                                <td>
                                    8kwh
                                </td>
                                <td>
                                    Bongards Garden 01

                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    yuvaraj
                                </td>
                                <td>
                                    singh
                                </td>
                                <td>
                                    yuvi1994@yahoo.com
                                </td>
                                <td>
                                    7867564534
                                </td>
                                <td>
                                    Adams
                                </td>
                                <td>
                                    Minnesota
                                </td>
                                <td>
                                    8.4kwh
                                </td>
                                <td>
                                    Bongards Garden 02
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    virat
                                </td>
                                <td>
                                    kholi
                                </td>
                                <td>
                                    virat18@gmail.com
                                </td>
                                <td>
                                    6767564534
                                </td>
                                <td>
                                    Eagle
                                </td>
                                <td>
                                    Colorada
                                </td>
                                <td>
                                    7kwh
                                </td>
                                <td>
                                    Glazier Garden 01
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Anu
                                </td>
                                <td>
                                    sai
                                </td>
                                <td>
                                    anusweety16@gmail.com
                                </td>
                                <td>
                                    9944098897
                                </td>
                                <td>
                                    Adams
                                </td>
                                <td>
                                    Minnesota
                                </td>
                                <td>
                                    8kwh
                                </td>
                                <td>
                                    Glazier Garden 02
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    kamal
                                </td>
                                <td>
                                    kumar
                                </td>
                                <td>
                                    kamal14@yahoo.com
                                </td>
                                <td>
                                    5467890912
                                </td>
                                <td>
                                    Custer
                                </td>
                                <td>
                                    Colorada
                                </td>


                                <td>
                                    9kwh
                                </td>
                                <td>
                                    Glazier Garden 03
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    hilter
                                </td>
                                <td>
                                    viru
                                </td>
                                <td>
                                    viru@yahoo.com
                                </td>
                                <td>
                                    5467890912
                                </td>
                                <td>
                                    Custer
                                </td>
                                <td>
                                    Colorada
                                </td>


                                <td>
                                    8.5kwh
                                </td>
                                <td>
                                    Bongards Garden 01

                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Customer Onboard</h4>
            </div>
            <div class="modal-body">
                <h5>View customer details.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">View</button>
            </div>
        </div>
    </div>
</div>

@section MyScripts {
    <script type="text/javascript">
                $(document).ready(function () {
                    //if ($('#signedcontract').length) {
                    //    $('#signedcontract').DataTable();
                    //}
                    var table = $('#customeronboard').dataTable();
                    var allPages = table.fnGetNodes();
                    $('body').on('click', '#selectAll', function () {
                        if ($(this).hasClass('allChecked')) {
                            $('input[type="checkbox"]', allPages).prop('checked', false);
                        } else {
                            $('input[type="checkbox"]', allPages).prop('checked', true);
                        }
                        $(this).toggleClass('allChecked');
                    });
                });
    </script>
}
