﻿@{
    ViewBag.Title = "Usage Request";
}
@Html.AntiForgeryToken()



<div class="">
    <div class="title_left animated-panel zoomIn">
        <h3>Usage Request</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel animated-panel zoomIn" style="overflow-x:auto">
                <div class="x_content">
                    <table id="UsageRequest" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" id="selectAll" value="checked">
                                </td>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    County
                                </th>
                                <th>
                                    Sent Time
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Erin
                                </td>
                                <td>
                                    Johnson
                                </td>
                                <td>
                                    ejrichjo@gmail.com
                                </td>
                                <td>
                                    6122317597
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Beltrami
                                </td>
                                <td>
                                    06-20-2016 06:49 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Peggy
                                </td>
                                <td>
                                    Kerr
                                </td>
                                <td>
                                    peggyjkerr@yahoo.com
                                </td>
                                <td>
                                    5076355725
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Chippewa
                                </td>


                                <td>
                                    06-20-2016 04:01 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Monica
                                </td>
                                <td>
                                    Murray
                                </td>
                                <td>
                                    murray@csp.edu
                                </td>
                                <td>
                                    7637848997
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Douglas
                                </td>


                                <td>
                                    06-21-2016 09:49 AM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Adam
                                </td>
                                <td>
                                    Novotny
                                </td>
                                <td>
                                    anovotny01@gmail.com
                                </td>
                                <td>
                                    6514686741
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Douglas
                                </td>


                                <td>
                                    06-19-2016 06:40 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Jon
                                </td>
                                <td>
                                    Swanson
                                </td>
                                <td>
                                    selvanth003@gmail.com
                                </td>
                                <td>
                                    6517709571
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Pueblo
                                </td>


                                <td>
                                    06-19-2016 12:30 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Kay
                                </td>
                                <td>
                                    Chevrier
                                </td>
                                <td>
                                    subashandrew@gmail.com
                                </td>
                                <td>
                                    6517774801
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Dodge
                                </td>


                                <td>
                                    06-19-2016 11:00 AM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Jeffrey
                                </td>
                                <td>
                                    DeCoster
                                </td>
                                <td>
                                    jeff.decoster@mts.com
                                </td>
                                <td>
                                    6514298472
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Carlton
                                </td>


                                <td>
                                    06-03-2016 01:25 AM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    darci
                                </td>
                                <td>
                                    holm
                                </td>
                                <td>
                                    kanddholm@gmail.com
                                </td>
                                <td>
                                    6127292458
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Fillmore
                                </td>


                                <td>
                                    06-30-2016 05:50 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Robert
                                </td>
                                <td>
                                    Hubbard
                                </td>
                                <td>
                                    sosan.flynn@yahoo.com
                                </td>
                                <td>
                                    6516411091
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Kiowa
                                </td>


                                <td>
                                    07-01-2016 06:10 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Dan
                                </td>
                                <td>
                                    Beatty
                                </td>
                                <td>
                                    vivek.sambandam@gmail.com
                                </td>
                                <td>
                                    6517332975
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Mesa
                                </td>


                                <td>
                                    06-19-2016 10:30 AM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    Dan
                                </td>
                                <td>
                                    Beatty
                                </td>
                                <td>
                                    vivek.sambandam@gmail.com
                                </td>
                                <td>
                                    6517332975
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Mesa
                                </td>


                                <td>
                                    06-19-2016 10:50 AM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    sam
                                </td>
                                <td>
                                    micheal
                                </td>
                                <td>
                                    samman@gmail.com
                                </td>
                                <td>
                                    65176952975
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Phillips
                                </td>


                                <td>
                                    07-27-2016 02:02 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>


                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    smith
                                </td>
                                <td>
                                    charles
                                </td>
                                <td>
                                    samman@gmail.com
                                </td>
                                <td>
                                    65176952975
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Phillips
                                </td>


                                <td>
                                    07-10-2016 07:15 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    jone
                                </td>
                                <td>
                                    william
                                </td>
                                <td>
                                    jonewilliam@gmail.com
                                </td>
                                <td>
                                    65176957975
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Traverse
                                </td>

                                <td>
                                    07-15-2016 11:21 AM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    will
                                </td>
                                <td>
                                    smith
                                </td>
                                <td>
                                    wills@gmail.com
                                </td>
                                <td>
                                    123957975
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Redwood
                                </td>


                                <td>
                                    07-03-2016 12:50 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    ronald
                                </td>
                                <td>
                                    singh
                                </td>
                                <td>
                                    ronaldsin@gmail.com
                                </td>
                                <td>
                                    1239573465
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Chippewa
                                </td>


                                <td>
                                    06-29-2016 11:39 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    tom
                                </td>
                                <td>
                                    cruse
                                </td>
                                <td>
                                    tomcrr@gmail.com
                                </td>
                                <td>
                                    1239893465
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Teller
                                </td>


                                <td>
                                    07-22-2016 11:00 AM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    jasen
                                </td>
                                <td>
                                    smith
                                </td>
                                <td>
                                    jasen@gmail.com
                                </td>
                                <td>
                                    1232693465
                                </td>
                                <td>
                                    colorado
                                </td>
                                <td>
                                    Otero
                                </td>


                                <td>
                                    07-23-2016 08:59 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    desal
                                </td>
                                <td>
                                    martin
                                </td>
                                <td>
                                    desalmart@gmail.com
                                </td>
                                <td>
                                    1232783465
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Renville
                                </td>


                                <td>
                                    07-15-2016 06:49 PM
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="report_myTextEditBox" value="checked">
                                </td>
                                <td>
                                    walker
                                </td>
                                <td>
                                    benjamin
                                </td>
                                <td>
                                    benjamwalker@gmail.com
                                </td>
                                <td>
                                    1232783600
                                </td>
                                <td>
                                    minnesota
                                </td>
                                <td>
                                    Sibley
                                </td>

                                <td>
                                    07-16-2016 09:29 AM
                                </td>
                                <td>
                                    <i class="fa fa-share-square-o"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Usage Request</h4>
            </div>
            <div class="modal-body">
                <h5>Do you want to re-send the usage request to Xcel Energy?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Re-Send</button>
            </div>
        </div>
    </div>
</div>





@section MyScripts {
    <script type="text/javascript">
                $(document).ready(function () {
                    //if ($('#signedcontract').length) {
                    //    $('#signedcontract').DataTable();
                    //}
                    var table = $('#UsageRequest').dataTable();
                    var allPages = table.fnGetNodes();
                    $('body').on('click', '#selectAll', function () {
                        if ($(this).hasClass('allChecked')) {
                            $('input[type="checkbox"]', allPages).prop('checked', false);
                        } else {
                            $('input[type="checkbox"]', allPages).prop('checked', true);
                        }
                        $(this).toggleClass('allChecked');
                    });
                });
</script>
}
