﻿
@model  SunshareQAQC.Models.HomeViewModels
@{
    ViewBag.Title = "Contracts Signed";
}
@Html.AntiForgeryToken()


    <div class="">
        <div class="title_left animated-panel zoomIn">
            <h3>Contracts Signed</h3>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel animated-panel zoomIn" style="overflow-x:auto">
                    <div class="x_content">
                        <table id="ContractsSigned" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" id="selectAll" value="checked">
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th>
                                        County
                                    </th>
                                    <th>
                                        Credit Score
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Jeffrey
                                    </td>
                                    <td>
                                        Cummins
                                    </td>
                                    <td>
                                        jeff.decoster@mts.com
                                    </td>
                                    <td>
                                        6514298472
                                    </td>
                                    <td>
                                        Minnesota
                                    </td>
                                    <td>
                                        Chisago
                                    </td>

                                    <td>
                                        802
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Kay
                                    </td>
                                    <td>
                                        Chevrier
                                    </td>
                                    <td>
                                        subashandrew@gmail.com
                                    </td>
                                    <td>
                                        6517774801
                                    </td>
                                    <td>
                                        Colorado
                                    </td>
                                    <td>
                                        Custer
                                    </td>

                                    <td>
                                        805
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Julie
                                    </td>
                                    <td>
                                        Jacobs
                                    </td>
                                    <td>
                                        julray@charter.net
                                    </td>
                                    <td>
                                        5073811120
                                    </td>
                                    <td>
                                        Colorado
                                    </td>
                                    <td>
                                        Chaffee
                                    </td>

                                    <td>
                                        817
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        allieu
                                    </td>
                                    <td>
                                        golafale
                                    </td>
                                    <td>
                                        rajprakash751@gmail.com
                                    </td>
                                    <td>
                                        6127035158
                                    </td>
                                    <td>
                                        Minnesota
                                    </td>
                                    <td>
                                        Douglas
                                    </td>

                                    <td>
                                        820
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Rae
                                    </td>
                                    <td>
                                        Harmel
                                    </td>
                                    <td>
                                        rharmel@centurylink.net
                                    </td>
                                    <td>
                                        6123273738
                                    </td>
                                    <td>
                                        Colorado
                                    </td>
                                    <td>
                                        Crowley
                                    </td>

                                    <td>
                                        819
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Sheila
                                    </td>
                                    <td>
                                        Loving
                                    </td>
                                    <td>
                                        lovingsheila@yahoo.com
                                    </td>
                                    <td>
                                        6122316945
                                    </td>
                                    <td>
                                        Minnesota
                                    </td>
                                    <td>
                                        Cook
                                    </td>

                                    <td>
                                        811
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Shawn
                                    </td>
                                    <td>
                                        Jones
                                    </td>
                                    <td>
                                        brian@jonesdesignbuild.com
                                    </td>
                                    <td>
                                        9524706911
                                    </td>
                                    <td>
                                        Colorado
                                    </td>
                                    <td>
                                        Conejos
                                    </td>

                                    <td>
                                        813
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        William
                                    </td>
                                    <td>
                                        Gilliland
                                    </td>
                                    <td>
                                        billcarriegill@q.com
                                    </td>
                                    <td>
                                        9528200557
                                    </td>
                                    <td>
                                        Minnesota
                                    </td>
                                    <td>
                                        Aitkin
                                    </td>


                                    <td>
                                        801
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Susan
                                    </td>
                                    <td>
                                        Keenan
                                    </td>
                                    <td>
                                        sgkeenan@gmail.com
                                    </td>
                                    <td>
                                        9524513009
                                    </td>
                                    <td>
                                        Colorado
                                    </td>
                                    <td>
                                        Eagle
                                    </td>


                                    <td>
                                        809
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Julie
                                    </td>
                                    <td>
                                        Jacobs
                                    </td>
                                    <td>
                                        julray@charter.net
                                    </td>
                                    <td>
                                        5073811120
                                    </td>
                                    <td>
                                        Minnesota
                                    </td>
                                    <td>
                                        Brown
                                    </td>


                                    <td>
                                        811
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Rae
                                    </td>
                                    <td>
                                        Harmel
                                    </td>
                                    <td>
                                        rharmel@centurylink.net
                                    </td>
                                    <td>
                                        6123273738
                                    </td>
                                    <td>
                                        Colorado
                                    </td>
                                    <td>
                                        Delta
                                    </td>


                                    <td>
                                        813
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Swathi
                                    </td>
                                    <td>
                                        Anne
                                    </td>
                                    <td>
                                        info@infinitelinked.com
                                    </td>
                                    <td>
                                        8322796579
                                    </td>
                                    <td>
                                        Minnesota
                                    </td>
                                    <td>
                                        Anoka
                                    </td>

                                    <td>
                                        815
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Jon
                                    </td>
                                    <td>
                                        Swanson
                                    </td>
                                    <td>
                                        selvanth003@gmail.com
                                    </td>
                                    <td>
                                        6517709571
                                    </td>
                                    <td>
                                        Colorado
                                    </td>
                                    <td>
                                        Cheyenne
                                    </td>

                                    <td>
                                        816
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Peggy
                                    </td>
                                    <td>
                                        Kerr
                                    </td>
                                    <td>
                                        peggyjkerr@yahoo.com
                                    </td>
                                    <td>
                                        5076355725
                                    </td>
                                    <td>
                                        Minnesota
                                    </td>
                                    <td>
                                        Carver
                                    </td>

                                    <td>
                                        811
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="report_myTextEditBox" value="checked">
                                    </td>
                                    <td>
                                        Dan
                                    </td>
                                    <td>
                                        Beatty
                                    </td>
                                    <td>
                                        vivek.sambandam@gmail.com
                                    </td>
                                    <td>
                                        6517332975
                                    </td>
                                    <td>
                                        Colorado
                                    </td>
                                    <td>
                                        Boulder
                                    </td>

                                    <td>
                                        800
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Contracts Signed</h4>
            </div>
            <div class="modal-body">
                <h5>Send user details to credit check.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
            </div>
        </div>
    </div>
</div>





        @section MyScripts {
            <script type="text/javascript">
                $(document).ready(function () {
                    //if ($('#signedcontract').length) {
                    //    $('#signedcontract').DataTable();
                    //}
                    var table = $('#ContractsSigned').dataTable();
                    var allPages = table.fnGetNodes();
                    $('body').on('click', '#selectAll', function () {
                        if ($(this).hasClass('allChecked')) {
                            $('input[type="checkbox"]', allPages).prop('checked', false);
                        } else {
                            $('input[type="checkbox"]', allPages).prop('checked', true);
                        }
                        $(this).toggleClass('allChecked');
                    });
                });
</script>
        }
